/* Overlay (black background) */
.new-playlist__container {
    position: fixed; /* Fixed in the screen */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency Fondo negro con transparencia */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Make sure it is on top of other elements */
}

/* Pop-up - Container */
.modal-content {
    display: flex;
    gap: 1rem;
    background-color: #212121;
    padding: 20px;
    border: 1px solid rgb(123, 123, 123);
    border-radius: 8px; /* Rounded edges */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow around the pop-up */
    max-width: 500px;
    width: 80vw;
    height: 35vh;
}

/* Additional Styles for Form */
form {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #FFFFFF;
}

form h1{
    font-weight: bold;
    font-size: 1.5rem;
}

form input {
    border: none;
    color: #ffffff;
    border-bottom: 2px solid rgb(133, 133, 133);
    background: none;
    outline: none; /* Delete blue border on click */
    width: 100%;
    box-sizing: border-box; /* Includes padding on the width */
    margin-top: 3rem;
    font-size: 16px;
}

form input:focus {
    border-bottom: 2px solid #3ea6ff;
}

.button-container {
    display: flex;
    align-self: flex-end;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

form button { /* Align the button to the right */
    border-radius: 25px;
    outline: none;
    box-shadow: none;
    border: none;
    padding: .5rem;
    margin: 1rem;
}

form button:nth-child(1):hover { /* Align the button to the right */
    background-color: #bebdbd;
}

.info-review {
    color: #FFFFFF;
    flex: 1;
}

.info-review img {
    max-width: 250px;
    max-height: 250px;
}

.info-review h2, .info-review p {
    margin-top: .5rem;
}

.validate {
    font-weight: bold;
    color: #cc0f0f;
    margin-top: .5rem;
}
