.playlist {
    display: flex;
    gap: .3rem;
    padding: .5rem;
    margin: .25rem 0;
    width: 100%;
}

.playlist img {
    margin-left: 1rem;
    width: 36px;
    height: 36px;
}

.playlist-text {
    display: flex;
    flex-direction: column;
}

.playlist h3 {
    font-size: .90rem;
    margin-bottom: 0.3rem;
}

.playlist p {
    font-size: .75rem;
}

.active {
    border-radius: 10px;
    background-color: #3e3b3b;
}

.playlist:hover {
    border-radius: 10px;
    background-color: #3e3b3b;
}