.left-navbar {
    color: #e2e8ee;
    background-color: #000000;
    position: fixed;
    height: 100vh;
    width: 220px;
    top: 74px;
}

.left-navbar__menu {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.left-navbar__menu-item {
    display: flex;
    align-items: center;
    max-width: 200px;
    height: 2.5rem;
    margin-left: .5rem;
}

.left-navbar__menu-item--active {
    background-color: #333333;
    border-radius: 5px;
}

.left-navbar__menu-item img {
    width: 24px;
    height: 24px;
    margin: 0 1rem;
}

.left-navbar__menu-item p {
    font-size: 1.15rem;
    font-weight: 400;
}

.left-navbar__border {
    margin: 1rem auto;
    height: 1px;
    width: 80%;
    background-color: #3e3b3b;
}

.playlist-container {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-playlist-btn {
    display: flex;
    border: none;
    justify-content: flex-start;
    align-items: center;
    background-color: #282828;
    border-radius: 25px;
    color: white;
    width: 90%;
    height: 3rem;
    gap: 1rem;
}

.new-playlist-btn:hover {
    background-color: #3d3d3d;
}

.new-playlist-btn img{
    width: 24px;
    height: 24px;
}

.playlist-container ul{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}